<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />

    <title>Mycelium</title>
</head>
<body>
<div class="container container-login" id="login-page">
    <div class="row">
        <div class="col text-center logo">
            <img
                    src="./img/mycelium-logo.jpg"
                    class="logo__img"
                    alt="logo-mycelium"
            />

            <h1 class="title">mycelium</h1>
            <h2 class="subtitle">
                you are logged out, but we know you'll be back soon ;-)
            </h2>
            <a href="./index.php" class="signout">back to login</a>
        </div>
    </div>
</div>
<script defer src="./icons/icomoon/svgxuse.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"
></script>
</body>
</html>
